body
{
  margin: 20px;
}

#firstLayer
{
  margin-top: 5px;
  margin-bottom: 5px;
}

#secondLayer
{
  margin-top: 10px;
  margin-left: 20px;
}

#thirdLayer
{
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
}
